@using PetShop.Web.MVC.Models.EmployeeDto;
@model EmployeeDto


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryPerMonth)
        </dd>
    </dl>
</div>

<div>
    @if (Model.Transactions.Count() > 0)
    {
        <div>
            <h4>Transactions</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Served-Customer</th>
                        <th>Pet</th>
                        <th>Pet Food</th>
                        <th>Pet Food Qty</th>
                        <th>Total Price</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {

                        <tr>
                        <td>@transaction.Date</td>
                        <td>@transaction.Customer.CustomerName  @transaction.Customer.CustomerSurname</td>
                        <td>@transaction.Pet.Breed</td>
                        <td>@transaction.PetFood.AnimalType</td>   
                        <td>@transaction.PetFoodQty</td>   
                        <td>@transaction.TotalPrice</td>   
                    </tr>
                }
            </tbody>
        </table>
    </div>   
    }
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeID">Edit</a> |
    <a asp-action="Employee">Back to List</a>
</div>

