@using PetShop.Web.MVC.Models.CustomerDto;
@model CustomerDto

@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details View</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDtoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDtoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDtoSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDtoSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneDto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneDto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TINDto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TINDto)
        </dd>
    </dl>
</div>

    <div>
        @if (Model.Transactions.Count() > 0)
    {
        <div>
            <h4>Transactions</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Pet</th>
                        <th>Pet Price</th>
                        <th>Pet Food</th>
                        <th>Pet Food Price</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Date</td>
                            <td>@transaction.Pet.Breed</td>
                            <td>@transaction.PetPrice</td>
                            <td>@transaction.PetFood.AnimalType</td>
                            <td>@transaction.PetFoodPrice</td>
                            <td>@transaction.PetFoodQty</td>
                            <td>@transaction.PetPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
        }
        
        <a asp-action="Edit" asp-route-id="@Model?.CustomerDtoID">Edit</a> |
        <a asp-action="Customer">Back to List</a>
    </div>

