@using PetShop.Web.MVC.Models.PetDto;
@model PetDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PetID">Edit</a> |
    <a asp-action="Pet">Back to List</a>
</div>
